In [71]:
#Import libraries, read data
import pandas as pd
data = pd.read_csv('thanksgiving.csv',encoding = 'Latin-1')
#print(data.head())

In [72]:
#data.columns

In [73]:
#check counts
data["Do you celebrate Thanksgiving?"].value_counts()

Yes    980
No      78
Name: Do you celebrate Thanksgiving?, dtype: int64

In [74]:
#keep only celebrators
istrue = data['Do you celebrate Thanksgiving?'] == 'Yes'
#print(istrue)
data = data[istrue]

In [75]:
#summary stats on food
data["What is typically the main dish at your Thanksgiving dinner?"].value_counts()

Turkey                    859
Other (please specify)     35
Ham/Pork                   29
Tofurkey                   20
Chicken                    12
Roast beef                 11
I don't know                5
Turducken                   3
Name: What is typically the main dish at your Thanksgiving dinner?, dtype: int64

In [76]:
#rows where == tofurkey
data[data["What is typically the main dish at your Thanksgiving dinner?"] == "Tofurkey"][["What is typically the main dish at your Thanksgiving dinner?","Do you typically have gravy?"]]

,What is typically the main dish at your Thanksgiving dinner?,Do you typically have gravy?
4,Tofurkey,Yes
33,Tofurkey,Yes
69,Tofurkey,No
72,Tofurkey,No
77,Tofurkey,Yes
145,Tofurkey,Yes
175,Tofurkey,Yes
218,Tofurkey,No
243,Tofurkey,Yes
275,Tofurkey,No
393,Tofurkey,Yes
399,Tofurkey,Yes
571,Tofurkey,Yes
594,Tofurkey,Yes
628,Tofurkey,No
774,Tofurkey,No
820,Tofurkey,No
837,Tofurkey,Yes
860,Tofurkey,No
953,Tofurkey,Yes

In [77]:
data["Which type of pie is typically served at your Thanksgiving dinner? Please select all that apply. - Apple"].value_counts()

Apple    514
Name: Which type of pie is typically served at your Thanksgiving dinner? Please select all that apply. - Apple, dtype: int64

In [78]:
ate_pies = (pd.isnull(data["Which type of pie is typically served at your Thanksgiving dinner? Please select all that apply. - Apple"])
&
pd.isnull(data["Which type of pie is typically served at your Thanksgiving dinner? Please select all that apply. - Pecan"])
 &
 pd.isnull(data["Which type of pie is typically served at your Thanksgiving dinner? Please select all that apply. - Pumpkin"])
)

ate_pies.value_counts()

False    876
True     104
dtype: int64

In [79]:
def extract_age(age_str):
    if pd.isnull(age_str):
        return None
    else:
        age_str = age_str.split(" ")[0]
        age_str = age_str.replace("+", "")
        return int(age_str)

data["int_age"] = data["Age"].apply(extract_age)
data["int_age"].describe()

#print(data["int_age"])

count    947.000000
mean      40.089757
std       15.352014
min       18.000000
25%       30.000000
50%       45.000000
75%       60.000000
max       60.000000
Name: int_age, dtype: float64

In [80]:
data['How much total combined money did all members of your HOUSEHOLD earn last year?'].value_counts()

$25,000 to $49,999      166
$75,000 to $99,999      127
$50,000 to $74,999      127
Prefer not to answer    118
$100,000 to $124,999    109
$200,000 and up          76
$10,000 to $24,999       60
$0 to $9,999             52
$125,000 to $149,999     48
$150,000 to $174,999     38
$175,000 to $199,999     26
Name: How much total combined money did all members of your HOUSEHOLD earn last year?, dtype: int64

In [81]:
from fnmatch import fnmatch

def convertdollas(input):
    if pd.isnull(input):
        return None
    elif fnmatch(input,'*Prefer*'):
        return None
    else:
        splitdollas = input.split(" ")[0]
        splitdollas = splitdollas.replace("$","")
        splitdollas = splitdollas.replace(",","")
        return int(splitdollas)
        
data["int_income"] = data['How much total combined money did all members of your HOUSEHOLD earn last year?'].apply(convertdollas)
print(int_income)

data["int_income"].describe()

0        75000.0
1        50000.0
2            0.0
3       200000.0
4       100000.0
5            0.0
6        25000.0
7            NaN
8        75000.0
9        25000.0
11       25000.0
12           0.0
13           0.0
14       50000.0
15      200000.0
16      200000.0
17       75000.0
18       25000.0
19       75000.0
20       75000.0
21           0.0
23           0.0
24       50000.0
25      200000.0
26       50000.0
27      100000.0
28           NaN
29       75000.0
30       25000.0
32           NaN
          ...
1024    100000.0
1025     75000.0
1026    175000.0
1027     75000.0
1029     50000.0
1030     10000.0
1031     75000.0
1033     75000.0
1034         NaN
1035     25000.0
1037     10000.0
1038    100000.0
1039     75000.0
1040     50000.0
1041     25000.0
1042    125000.0
1043     75000.0
1044     25000.0
1045     75000.0
1046     10000.0
1047     25000.0
1048     75000.0
1049         NaN
1050    125000.0
1051    125000.0
1053    100000.0
1054     50000.0
1055    100000.0
1056         NaN
1057         NaN
Name: How much total combined money did all members of your HOUSEHOLD earn last year?, dtype: float64

count       829.000000
mean      75965.018094
std       59068.636748
min           0.000000
25%       25000.000000
50%       75000.000000
75%      100000.000000
max      200000.000000
Name: int_income, dtype: float64

In [93]:
data_lowinc = data[data["int_income"] < 150000]
data_lowinc['How far will you travel for Thanksgiving?'].value_counts()

Thanksgiving is happening at my home--I won't travel at all                         281
Thanksgiving is local--it will take place in the town I live in                     203
Thanksgiving is out of town but not too far--it's a drive of a few hours or less    150
Thanksgiving is out of town and far away--I have to drive several hours or fly       55
Name: How far will you travel for Thanksgiving?, dtype: int64

In [94]:
data_highinc = data[data["int_income"] >= 150000]
data_highinc['How far will you travel for Thanksgiving?'].value_counts()

Thanksgiving is happening at my home--I won't travel at all                         66
Thanksgiving is local--it will take place in the town I live in                     34
Thanksgiving is out of town but not too far--it's a drive of a few hours or less    25
Thanksgiving is out of town and far away--I have to drive several hours or fly      15
Name: How far will you travel for Thanksgiving?, dtype: int64

In [96]:
data.pivot_table(
    index="Have you ever tried to meet up with hometown friends on Thanksgiving night?", 
    columns='Have you ever attended a "Friendsgiving?"',
    values="int_age"
)

Have you ever attended a "Friendsgiving?"                  No        Yes
Have you ever tried to meet up with hometown fr...
No                                                  42.283702  37.010526
Yes                                                 41.475410  33.976744